html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.grid-container {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: 1.7rem;
  padding-right: 1.7rem; }

.grid-row {
  margin-left: -1.7rem;
  margin-right: -1.7rem; }
  .grid-row::after {
    content: "";
    display: table;
    clear: both; }

[class^='columns-'] {
  float: left;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #eee;
  padding: 1.5rem;
  width: 100%; }

@media (max-width: 768px) {
  .columns-xs-1 {
    width: calc(100% / (12 / 1)); }
  .columns-xs-2 {
    width: calc(100% / (12 / 2)); }
  .columns-xs-3 {
    width: calc(100% / (12 / 3)); }
  .columns-xs-4 {
    width: calc(100% / (12 / 4)); }
  .columns-xs-5 {
    width: calc(100% / (12 / 5)); }
  .columns-xs-6 {
    width: calc(100% / (12 / 6)); }
  .columns-xs-7 {
    width: calc(100% / (12 / 7)); }
  .columns-xs-8 {
    width: calc(100% / (12 / 8)); }
  .columns-xs-9 {
    width: calc(100% / (12 / 9)); }
  .columns-xs-10 {
    width: calc(100% / (12 / 10)); }
  .columns-xs-11 {
    width: calc(100% / (12 / 11)); }
  .columns-xs-12 {
    width: calc(100% / (12 / 12)); } }

@media (min-width: 768px) {
  .columns-sm-1 {
    width: calc(100% / (12 / 1)); }
  .columns-sm-2 {
    width: calc(100% / (12 / 2)); }
  .columns-sm-3 {
    width: calc(100% / (12 / 3)); }
  .columns-sm-4 {
    width: calc(100% / (12 / 4)); }
  .columns-sm-5 {
    width: calc(100% / (12 / 5)); }
  .columns-sm-6 {
    width: calc(100% / (12 / 6)); }
  .columns-sm-7 {
    width: calc(100% / (12 / 7)); }
  .columns-sm-8 {
    width: calc(100% / (12 / 8)); }
  .columns-sm-9 {
    width: calc(100% / (12 / 9)); }
  .columns-sm-10 {
    width: calc(100% / (12 / 10)); }
  .columns-sm-11 {
    width: calc(100% / (12 / 11)); }
  .columns-sm-12 {
    width: calc(100% / (12 / 12)); } }

@media (min-width: 992px) {
  .columns-md-1 {
    width: calc(100% / (12 / 1)); }
  .columns-md-2 {
    width: calc(100% / (12 / 2)); }
  .columns-md-3 {
    width: calc(100% / (12 / 3)); }
  .columns-md-4 {
    width: calc(100% / (12 / 4)); }
  .columns-md-5 {
    width: calc(100% / (12 / 5)); }
  .columns-md-6 {
    width: calc(100% / (12 / 6)); }
  .columns-md-7 {
    width: calc(100% / (12 / 7)); }
  .columns-md-8 {
    width: calc(100% / (12 / 8)); }
  .columns-md-9 {
    width: calc(100% / (12 / 9)); }
  .columns-md-10 {
    width: calc(100% / (12 / 10)); }
  .columns-md-11 {
    width: calc(100% / (12 / 11)); }
  .columns-md-12 {
    width: calc(100% / (12 / 12)); } }

@media (min-width: 1200px) {
  .columns-lg-1 {
    width: calc(100% / (12 / 1)); }
  .columns-lg-2 {
    width: calc(100% / (12 / 2)); }
  .columns-lg-3 {
    width: calc(100% / (12 / 3)); }
  .columns-lg-4 {
    width: calc(100% / (12 / 4)); }
  .columns-lg-5 {
    width: calc(100% / (12 / 5)); }
  .columns-lg-6 {
    width: calc(100% / (12 / 6)); }
  .columns-lg-7 {
    width: calc(100% / (12 / 7)); }
  .columns-lg-8 {
    width: calc(100% / (12 / 8)); }
  .columns-lg-9 {
    width: calc(100% / (12 / 9)); }
  .columns-lg-10 {
    width: calc(100% / (12 / 10)); }
  .columns-lg-11 {
    width: calc(100% / (12 / 11)); }
  .columns-lg-12 {
    width: calc(100% / (12 / 12)); } }

.panel {
  padding: 1.3rem;
  background-color: #ddd; }
