.grid-container {
  // Center content on large screens
  max-width: $grid-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

.grid-row {
  margin-left: -$container-padding;
  margin-right: -$container-padding;
  @include clearfix;
}

[class^='columns-'] {
  float: left;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #eee;
  padding: $gutter-width;
  // If columns specification is not stated, assume 100% width
  width: 100%;
}

// For extra small screens
@media (max-width: $screen-small-minimum) {
  @for $i from 1 through $total-grid-columns {
    .columns-xs-#{$i} {
      width: calc(#{$max-grid-percentage} / (#{$total-grid-columns} / #{$i}));
    }
  }
}

// For small screens
@media (min-width: $screen-small-minimum) {
  @for $i from 1 through $total-grid-columns {
    .columns-sm-#{$i} {
      width: calc(#{$max-grid-percentage} / (#{$total-grid-columns} / #{$i}));
    }
  }
}

// For medium screens (tablet)
@media (min-width: $screen-medium-minimum) {
  @for $i from 1 through $total-grid-columns {
    .columns-md-#{$i} {
      width: calc(#{$max-grid-percentage} / (#{$total-grid-columns} / #{$i}));
    }
  }
}

// For large screens (desktop)
@media (min-width: $screen-large-minimum) {
  @for $i from 1 through $total-grid-columns {
    .columns-lg-#{$i} {
      width: calc(#{$max-grid-percentage} / (#{$total-grid-columns} / #{$i}));
    }
  }
}
